$opacity-high: 0.75;
$opacity-medium: 0.5;
$opacity-low: 0.25;
$opacity-lowest: 0.1;

$surface: rgb(255, 255, 255);
$backdrop: rgb(15, 20, 22);
$background: rgb(20, 25, 27);

$bright: rgb(255, 255, 255);
$dark: rgb(6, 12, 6);
