$opacity-high: 0.75;
$opacity-medium: 0.5;
$opacity-low: 0.25;
$opacity-lowest: 0.1;

$backdrop: rgb(15, 22, 20);
$background: rgb(20, 27, 25);
$surface: rgb(255, 255, 255);

$dark: rgb(6, 12, 6);
$bright: rgb(255, 255, 255);
